{
  "root": true,
  "extends": "nodules",
  "rules": {
    "no-console": 0,
    "no-mixed-requires": 0,
    "no-multiple-empty-lines": [2, {"max": 1}],
    "no-var": "error",
    "global-require": 0
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  }
}
